.Navbar {
    display: flex;
    justify-content: flex-end;
    height: auto;
    background: linear-gradient(to right, #38ADAE, #CD295A);
    text-align: right;
}

.NavLeft {
    display: inherit;
    padding: 20px;
    color: white;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
}

.NavRight {
    display: inherit;
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
}

.NavRight a {
    text-decoration: none;
    margin: 0 20px;
    color: white;
}

.NavRight span {
    margin: 0 20px;
    color: white;
    cursor: pointer;
}

.Navbar a:hover,
.Navbar a:active,
.Navbar span:hover,
.Navbar span:active {
    text-decoration: underline;
    color: #38ADAE;
}

@media only screen and (max-width: 599px) {
    .Navbar {
        font-size: 0.5em;
    }

    .NavRight a {
        margin: 0 5px;
    };
}

