.Navbar {
    height: 50px;
    background: linear-gradient(to right, #074075, rgb(119, 74, 7));
}

.NavLeft {
    display: inline-flex;
    margin-left: 10px;
    padding-top: 10px;
}

.NavLeft span {
    color: #fff;
    font-size: 2em;
}


.NavRight {
    display: inline-flex;
    margin-left: 45%;
    padding-top: 10px;
}

.NavRight a {
    color: #fff;
    font-size: 2em;
    margin: 0 20px;
    text-decoration: none;
}

.NavRight a:hover,
.NavRight a:active {
    color: #088596;
}

@media only screen and (max-width: 599px) {
    .NavLeft {
        padding-top: 20px;
    }

    .NavLeft span {
        font-size: 0.6em;
    }

    .NavRight {
        margin-left: 15%;
        padding-top: 20px;
    }

    .NavRight a {
        font-size: 0.6em;
        margin: 0 10px;
    }
}

