.StudentRightWindow {
    height: 500px;
    width: 50%;
    border-top-color: none;
    border-style: inset;
    margin: 20px 20px;
}

.StudentBoxes {
    height: auto;
    width: 40%;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #206A85;
    display: flex;
    flex-direction: row;
    border-style: outset;
    cursor: pointer;
}

.StudentBoxesLeft {
    display: inherit;
    flex-direction: inherit;
    width: 20%;
    height: 50px;
}

.StudentBoxesRight {
    display: inherit;
    flex-direction: column;
    align-content: center;
    height: 50px;
}

.StudentBoxesLeft img {
    height: 50px;
}

.StudentBoxesRight span {
    color: white;
    font-size: 15px;
    margin-left: 20px;
}