.LoginModal {
    display: flex;
    flex-direction: column;
}

.LoginModal input {
    margin: 10px;
    height: 30px;
    border: 3px solid #CD295A;
    padding: 0 20px;
    border-radius: 20px;
    outline: none;
}

.LoginModal button {
    width: 20%;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}

.SuccessModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SuccessModal button {
    margin: 20px;
    width: 20%;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #CD295A;
    background-color: #CD295A;
    color: #fff;
}

@media only screen and (max-width: 599px) {
    .LoginModal button {
        width: 30%;
    }
}